<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite"><test verbose="2" preserve-order="true" name="Test ATBmaven">
    <listeners>
        <listener class-name="Testss.Listener"></listener>
    </listeners>
    <classes>
        <class name="Testss.CreateBookingTest">
            <methods>
                <include name="testCreateBooking"/>
            </methods>
        </class>
        <class name="Testss.SmokeTest">
            <methods>
                <include name="testCreatBook"/>
            </methods>
        </class>
        <class name="Testss.TC_Integration1">
            <methods>
                <include name="testCreateBooking"/>
                <include name="testCreateAndUpdateBooking"/>
                <include name="testDeleteCreatedBooking"/>
            </methods>
        </class>
        <class name="Testss.TC_Integration2">
        <methods>
            <include name="testCreatBook"/>
            <include name="filterByID"/>
            <include name="CreateToken"/>
            <include name="PutRequest"/>
            <include name="testPartialUpdate"/>
            <include name="filterId_By_ValidName"/>
        </methods>
    </class>
    </classes>
</test>
</suite>